@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@layer utilities {
  .glass-panel {
    @apply bg-zinc-900/50 backdrop-blur-md border border-zinc-800 rounded-xl shadow-xl;
  }
  
  .lucid-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-indigo-500;
  }
}
